<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<title>HashOver - {hashover:title}</title>

		<link type="text/css" href="../../../themes/default/general.css" rel="stylesheet">
		<link type="text/css" href="threads.css" rel="stylesheet">

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="EN">

		<link type="image/x-icon" href="../../../images/favicon.png" rel="shortcut icon">
		<link type="image/x-icon" href="../../../images/favicon.png" rel="icon">
		<link href="https://www.gnu.org/licenses/agpl" rel="copyright">
	</head>

	<body>
		<h1 class="underlined special">
			&#8592; <a href="../moderation/">{hashover:title}</a>

			{hashover:logout}
		</h1>

		<div id="hashover">
			<center id="loading">
				<img src="../../../images/loading-ltr.gif" alt="Loading..." width="90" height="30">
			</center>
		</div>

		<script type="text/javascript" src="../../../comments.php?nodefault"></script>
		<script type="text/javascript" src="threads.js"></script>
	</body>
</html>
