#hashover, #sort_div {
	clear: both;
}

#hashover form,
#hashover .hashover-comment form {
	display: block;
}

#hashover .hashover-comment form {
	margin-top: 6px;
	clear: both;
}

#hashover .hashover-columns {
	display: table;
	width: 100%;
}

#hashover .hashover-avatar-image,
#hashover .hashover-name-input,
#hashover .hashover-password-input,
#hashover .hashover-email-input,
#hashover .hashover-website-input {
	display: table-cell;
	vertical-align: middle;
}

#hashover .hashover-avatar-image {
	width: 1%;
	padding-right: 10px;
}

#hashover .hashover-avatar-image img {
	vertical-align: middle;
}

#hashover .hashover-login-input,
#hashover .hashover-login-input input {
	width: 36px;
}

#hashover form input,
#hashover form textarea,
#hashover form .hashover-columns input {
	padding: 2px;
	background-color: #FAFAFA;
	font-size: 13px;
	font-family: "Arial","Helvetica","FreeSans",sans-serif;
	color: #222222;
	border: 1px solid #808080;
	outline-offset: none;
	outline: -webkit-focus-ring-color none;
}

#hashover form input,
#hashover form textarea,
#hashover form .hashover-columns input,
#hashover .hashover-comment label {
	transition: all 120ms linear 0ms;
	-moz-transition: all 120ms ease 0ms;
	-webkit-transition: all 120ms ease 0ms;
	-o-transition: all 120ms ease 0ms;
}

#hashover form input,
#hashover form textarea,
#hashover form .hashover-columns input,
#hashover .hashover-comment pre,
#hashover .hashover-comment code,
#hashover .hashover-comment label {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#hashover form input,
#hashover form .hashover-columns input,
#hashover .hashover-balloon,
#hashover .hashover-comment input.hashover-delete,
#hashover img,
#hashover .hashover-comment pre,
#hashover .hashover-comment code,
#hashover .hashover-avatar span,
#hashover .hashover-avatar a,
#hashover .hashover-comment .hashover-form-buttons a,
#hashover .hashover-comment .hashover-footer .hashover-buttons a,
#hashover .hashover-comment label,
#hashover .hashover-title#hashover-message {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
}

#hashover #requiredFields {
	display: none;
}

#hashover form div textarea {
	width: 100%;
	margin-bottom: 0px ! important;
	padding: 5px 5px 8px 5px;
	vertical-align: top;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	resize: vertical;
}

#hashover form input.post-comment {
	border-top: none;
	margin-top: 0px ! important;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	padding: 6px 4px 6px 4px;
}

#hashover input.post-comment:hover {
	background-color: #F0F0F0 ! important;
	cursor: pointer;
}

#hashover input.post-comment:focus {
	background-color: #E8E8E8 ! important;
	border-color: #000000 ! important;
}

#hashover textarea:hover, 
#hashover input:hover {
	background-color: #FCFCFC ! important;
	border-color: #000000 ! important;
}

#hashover textarea:hover {
	border-color: #909090;
}

#hashover textarea:focus,
#hashover input:focus {
	background-color: #FCFCFC;
	border-color: #0055FF ! important;
}

#hashover textarea:focus,
#hashover input[type="text"]:focus,
#hashover input[type="password"]:focus {
	box-shadow: 0px 0px 2px rgba(85, 255, 255, 0.8) ! important;
	-moz-box-shadow: 0px 0px 2px rgba(85, 255, 255, 0.8) ! important;
	-webkit-box-shadow: 0px 0px 2px rgba(85, 255, 255, 0.8) ! important;
	-o-box-shadow: 0px 0px 2px rgba(85, 255, 255, 0.8) ! important;
}

#hashover form .hashover-columns input {
	width: 100%;
	height: 32px;
	font-size: 14px;
	padding-left: 28px;
	padding-right: 6px;
	background-position: left center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	color: #808080;
}

#hashover form .hashover-columns input:focus {
	color: #222222;
}

#hashover .hashover-columns > * {
	padding: 2px 3px 6px 3px;
	line-height: 16px;
}

#hashover .hashover-columns > :first-child {
	padding-left: 0px;
}

#hashover .hashover-columns > :nth-last-child(1) {
	padding-right: 0px;
}

#hashover .hashover-name-input input {
	background-image: url('/hashover/images/name.png');
}

#hashover .hashover-password-input input {
	background-image: url('/hashover/images/password.png');
}

#hashover .hashover-login-input input {
	background-image: url('/hashover/images/login.png');
	background-position: center center ! important;
	cursor: pointer;
}

#hashover .hashover-email-input input {
	background-image: url('/hashover/images/email.png');
}

#hashover .hashover-website-input input {
	background-image: url('/hashover/images/website.png');
}

#hashover .hashover-comment .hashover-columns {
	padding-bottom: 2px;
}

#hashover .hashover-sort {
	float:right;
}

#hashover select {
	height: 24px;
	padding: 1px;
}

#hashover .hashover-comment .hashover-footer .hashover-buttons {
	float: right;
}

#hashover .hashover-comment .hashover-footer .hashover-buttons a {
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	width: 29px;
	margin: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	color: transparent;
	font-size: 0px;
	overflow: hidden ! important;
	transition: background 140ms linear 0ms;
	-moz-transition: background 140ms linear 0ms;
	-webkit-transition: background 140ms linear 0ms;
	-o-transition: background 140ms linear 0ms;
}

#hashover .hashover-comment .hashover-footer .hashover-buttons a:hover {
	background-color: rgba(128, 128, 128, 0.2);
}

#hashover .hashover-comment .hashover-footer .hashover-buttons a.hashover-like:active {
	background-image: url('/hashover/images/liked.png');
	background-color: #FFDDDB;
}

#hashover .hashover-comment .hashover-footer .hashover-buttons a.hashover-liked:active {
	background-image: url('/hashover/images/like.png');
	background-color: rgba(128, 128, 128, 0.1);
}

#hashover a.hashover-like {
	background-image: url('/hashover/images/like.png');
}

#hashover a.hashover-liked {
	background-image: url('/hashover/images/liked.png');
}

#hashover a.hashover-edit {
	background-image: url('/hashover/images/edit.png');
}

#hashover a.hashover-has-email {
	background-image: url('/hashover/images/has-email.png');
}

#hashover a.hashover-no-email {
	background-image: url('/hashover/images/no-email.png');
}

#hashover a.hashover-has-email,
#hashover a.hashover-no-email {
	width: 33px ! important;
}

#hashover hr {
	border: 0px;
	height: 1px;
	background-color: #808080;
	margin-top: 0px;
	margin-bottom: 5px;
	clear: both;
}

#hashover input::-moz-focus-inner {
	border: 0px;
}

#hashover .hashover-comment {
	clear: both;
}

#hashover a, #hashover a:link {
	text-decoration: none;
	color: #0000CC;
	outline: none;
}

#hashover a:visited {
	color: #00268F;
}

#hashover a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 3px #8CF5FF;
	cursor: pointer;
	color: #005EFF;
}

#hashover .hashover-balloon {
	overflow: hidden;
	margin-left: 65px;
	padding: 6px 8px 8px 8px;
	background-color: #F7F9FF;
	border: 1px solid #808080 ! important;
	text-align: left;
	height: auto;
	width: auto;
}

#hashover .hashover-comment .hashover-balloon {
	margin-left: 64px;
	padding: 0px;
}

#hashover .hashover-comment.reply .hashover-balloon {
	margin-left: 49px;
}

#hashover .hashover-comment .hashover-content {
	padding: 0px 10px 0px 10px;
	line-height: 1.4em;
}

#hashover .hashover-comment .hashover-content img {
	max-width: 100%;
	max-height: 640px;
	cursor: pointer;
}

#hashover .hashover-comment.reply .hashover-content {
	padding: 0px 8px 0px 8px;
}

#hashover .hashover-comment hr {
	background-color: #C1C1C1;
	margin: 0px;
}

#hashover .hashover-comment .hashover-columns {
	margin: 6px 0px 4px 0px;
}

#hashover .hashover-comment .hashover-columns > * {
	padding: 0px 2px 0px 2px;
}

#hashover .hashover-comment .hashover-columns > :first-child {
	padding-left: 5px;
}

#hashover .hashover-comment .hashover-columns > :nth-last-child(1) {
	padding-right: 5px;
}

#hashover .hashover-comment input.post-comment {
	margin: 0px;
	border: none;
	margin-top: 0px ! important;
	background-color: #F0F0F0;
}

#hashover .hashover-comment input.post-comment:hover {
	background-color: #E9E9E9 ! important;
	cursor: pointer;
}

#hashover .hashover-comment input.post-comment:focus {
	background-color: #E5E5E5 ! important;
}

#hashover .hashover-comment input[type="button"],
#hashover .hashover-comment input.hashover-delete[type="submit"],
#hashover .hashover-comment .hashover-form-buttons a,
#hashover .hashover-comment label {
	display: inline-block;
	border: 1px solid transparent ! important;
	background: transparent ! important;
	padding: 3px 4px 3px 4px ! important;
	margin-bottom: 5px;
}

#hashover .hashover-comment label {
	padding: 3px 5px 1px 1px ! important;
}

#hashover .hashover-comment .hashover-form-buttons a {
	padding: 3px 6px 3px 6px ! important;
	color: #222222;
}

#hashover .hashover-comment input[type="button"]:hover,
#hashover .hashover-comment .hashover-form-buttons a:hover,
#hashover .hashover-comment label:hover {
	border-color: #C1C1C1 ! important;
	background-color: #ECEEFF ! important;
	text-shadow: none;
	cursor: pointer;
	text-decoration: none;
	color: #222222;
}

#hashover .hashover-comment .options {
	display: block;
	overflow: hidden;
	width: 100%;
	background-color: #F0F0F0;
	transition: all 0.15s linear 0ms;
	-moz-transition: all 0.15s linear 0ms;
	-webkit-transition: all 0.15s linear 0ms;
	-o-transition: all 0.15s linear 0ms;
}

#hashover .hashover-comment .hashover-columns input {
	height: 34px;
}

#hashover .hashover-comment textarea {
	margin: 0px ! important;
	border-left: none ! important;
	border-right: none ! important;
	border-color: #C1C1C1;
	border-radius: 0px ! important;
	-moz-border-radius: 0px ! important;
	-webkit-border-radius: 0px ! important;
	-o-border-radius: 0px ! important;
}

#hashover .hashover-post-comment,
#hashover .hashover-title,
#hashover .hashover-count,
#hashover .hashover-comment .hashover-name {
	font-size: 16px;
	display: inline-block;
	padding-top: 2px;
}

#hashover .hashover-post-comment {
	margin-bottom: 0px;
	display: inline-block;
	width: 100%;
	padding-bottom: 8px;
	border-bottom: 1px dashed rgb(190, 190, 190);
}

#hashover .hashover-comment .hashover-name {
	font-size: 20px;
}

#hashover .hashover-comment.reply .hashover-name {
	font-size: 16px;
	margin-top: -1px;
}

#hashover .hashover-comment .hashover-name.at {
	color: #00268F;
}

#hashover .hashover-comment .hashover-title {
	display: inline-block;
	clear: right;
}

#hashover .hashover-comment form .hashover-title {
	padding-left: 8px;
}

#hashover .hashover-comment .hashover-form-buttons {
	float: right;
	padding: 0px 5px 0px 0px ! important;
}

#hashover .hashover-comment .hashover-header {
	line-height: normal;
	padding: 8px 10px 10px 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#hashover .hashover-comment.reply .hashover-header {
	padding: 8px 8px 6px 8px;
}

#hashover .hashover-thread-link {
	float: right;
}

#hashover .hashover-avatar span,
#hashover .hashover-avatar img,
#hashover .hashover-avatar a {
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 1px solid #808080;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	text-align: center;
	line-height: 45px;
	text-shadow: none;
	font-weight: bold;
	color: #808080;
}

#hashover .hashover-comment.reply .hashover-avatar img,
#hashover .hashover-comment.reply .hashover-avatar a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

#hashover .hashover-avatar {
	display: inline-block;
	padding-right: 19px;
	float: left;
	margin-right: -1px;
	background-image: url('/hashover/images/bubble-tick.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#hashover .hashover-comment.reply .hashover-avatar {
	padding-right: 13px;
	background-image: url('/hashover/images/bubble-tick-reply.png');
}

#hashover .hashover-comment pre,
#hashover .hashover-comment code {
	width: 100%;
	max-height: 200px;
	display: inline-block;
	overflow: auto;
	border: 1px solid #C1C1C1;
	background-color: #F5F5F5;
	white-space: pre;
	padding: 5px;
	margin: 0px;
}

#hashover .hashover-comment blockquote,
#hashover .hashover-comment ol,
#hashover .hashover-comment ul {
	padding-left: 10px;
	margin: 0px 20px 8px 20px;
}

#hashover .hashover-comment blockquote {
	border-left: 3px solid rgba(0,0,0,0.3);
}

#hashover .hashover-comment .hashover-date {
	display: inline-block;
	margin-top: 6px;
}

#hashover .hashover-comment .hashover-date a,
#hashover .hashover-comment .hashover-date a:visited,
#hashover .hashover-comment .hashover-date span {
	text-shadow: none;
	color: #606060;
}


#hashover .hashover-comment .hashover-date a:hover,
#hashover .hashover-comment .hashover-date a:active {
	color: #101010;
}

#hashover .hashover-comment .hashover-footer {
	padding: 4px 4px 4px 10px;
	width: auto;
	clear: both;
	overflow: hidden;
	background-color: rgba(128, 128, 128, 0.1);
}

#hashover .hashover-comment.reply .hashover-footer {
	margin-top: -3px;
}

#hashover label input[type="checkbox"] {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 2px;
}

#hashover .hashover-comment .hashover-form-buttons input.hashover-delete:hover,
#hashover .hashover-comment .hashover-form-buttons input.hashover-delete:focus {
	border: 1px solid #BB0000 ! important;
	background-color: #FF0000 ! important;
	color: #FCFCFC ! important;
	cursor: pointer;

}

#hashover .hashover-comment input.hashover-delete:focus {
	box-shadow: 0px 0px 3px #FF5555 ! important;
	-moz-box-shadow: 0px 0px 3px #FF5555 ! important;
	-webkit-box-shadow: 0px 0px 3px #FF5555 ! important;
	-o-box-shadow: 0px 0px 3px #FF5555 ! important;
}

#hashover .hashover-comment .hashover-first.hashover-title {
	font-size: 16px;
	display: inline-block;
	position: relative;
	top: 12px;
	left: 10px;
	vertical-align: top;
	color: #FF0000;
}

#hashover .hashover-title#hashover-message {
	display: block;
	margin-top: 6px;
	padding: 6px;
	text-align: center;
	background-color: rgba(210, 210, 255, 0.5);
	border: 1px solid #AAAAFF;
}
