; IMPORTANT NOTICE:
;
; To retain your settings and maintain proper functionality, when
; downloading or otherwise upgrading to a new version of HashOver it
; is important that you preserve this file, unless directed otherwise.
;
; It is also important to choose UNIQUE values for the encryption key,
; admin name, and admin password, as not doing so puts HashOver at
; risk of being hijacked. Allowing someone to delete comments and/or
; edit existing comments to post spam, impersonate you or your
; visitors in order to push some sort of agenda/propaganda, to defame
; you or your visitors, or to imply endorsement of some product(s),
; service(s), and/or political ideology.

; E-mail for notification of new comments
notification-email = example@example.com

; Unique encryption key (case-sensitive)
encryption-key = 8CharKey

; Login name to gain admin rights (case-sensitive)
admin-name = admin

; Login password to gain admin rights (case-sensitive)
admin-password = passwd

; HTTP root directory. This is usually auto-detected correctly,
; so it does not need to be set in most circumstances.
; http-root-directory = /hashover
