.special * {
	line-height: 1.25em;
}

#loading {
	display: block ! important;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	padding-left: 245px;
	margin-top: -15px;
}

#loading img {
	vertical-align: top;
}

.hashover > div {
	display: none;
}
