<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<title>HashOver - {hashover:title}</title>

		<link type="text/css" href="../../../themes/default/general.css" rel="stylesheet">
		<link type="text/css" href="../../../themes/default/special.css" rel="stylesheet">
		<link type="text/css" href="settings.css" rel="stylesheet">

		<script type="text/javascript" src="../shared/update-elements.js"></script>

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="EN">

		<link type="image/x-icon" href="../../../images/favicon.png" rel="shortcut icon">
		<link type="image/x-icon" href="../../../images/favicon.png" rel="icon">
		<link href="https://www.gnu.org/licenses/agpl" rel="copyright">
	</head>

	<body>
		<h1 class="underlined">
			<span id="title">{hashover:title}</span>

			{hashover:logout}
		</h1>

		<div class="p-spaced muted-text">
			{hashover:sub-title}
			{hashover:message}
		</div>

		<form method="post">
			{hashover:settings}

			<p>
				<input id="save-button" type="submit" name="save" value="{hashover:save-button}">
			</p>
		</form>
	</body>
</html>
