<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<title>HashOver - {hashover:title}</title>

		<link type="text/css" href="../../../themes/default/general.css" rel="stylesheet">
		<link type="text/css" href="../../../themes/default/special.css" rel="stylesheet">

		<script type="text/javascript" src="ignored-queries.js"></script>

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="EN">

		<link type="image/x-icon" href="../../../images/favicon.png" rel="shortcut icon">
		<link type="image/x-icon" href="../../../images/favicon.png" rel="icon">
		<link href="https://www.gnu.org/licenses/agpl" rel="copyright">
	</head>

	<body>
		<h1 class="underlined">
			{hashover:title}

			{hashover:logout}
		</h1>

		<p class="muted-text">{hashover:sub-title}</p>

		<form method="post">
			<div id="queries-list" class="p-spaced">
				{hashover:inputs}
			</div>

			<p>
				<input id="save-button" type="submit" value="{hashover:save-button}">
				<input id="new-button" type="button" value="{hashover:new-button}">
			</p>
		</form>
	</body>
</html>
