body {
	background-image: url('../../../images/white-noise.png');
}

#login {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	margin: -103px 0px 0px -128px;
	width: 256px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	overflow: hidden;
}

#login input {
	width: 100%;
}

#login.red {
	outline: 1px solid #FF0000;
	border-color: #FF0000;
}

#padding {
	padding: 15px;
}

input[type="submit"], input[type="submit"]:hover {
	padding: 10px;
	border-left: none;
	border-bottom: none;
	border-right: none;
}
