<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<title>HashOver - {title}</title>

		<link type="text/css" href="../../../themes/default/general.css" rel="stylesheet">
		<link type="text/css" href="../../../themes/default/special.css" rel="stylesheet">
		<link type="text/css" href="login.css" rel="stylesheet">

		<script type="text/javascript" src="login.js"></script>

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="EN">

		<link type="image/x-icon" href="../../../images/favicon.png" rel="shortcut icon">
		<link type="image/x-icon" href="../../../images/favicon.png" rel="icon">
		<link href="https://www.gnu.org/licenses/agpl" rel="copyright">
	</head>

	<body>
		<div id="login" class="red animate-all">
			<h1 class="underlined">{title}</h1>

			<form method="post">
				<div><input type="text" name="name" placeholder="{name}"></div>
				<div><input type="password" name="password" placeholder="{password}"></div>
				<div><input type="text" name="email" placeholder="{email}"></div>
				<div><input type="text" name="website" placeholder="{website}"></div>

				<p>
					<input type="submit" value="{login}">
				</p>
			</form>
		</div>
	</body>
</html>
